.root-module {
  margin-top: 20px;
}
#error_net_work {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
}
#localToogle .customSelect {
  color: #fff;
}
#localToogle .MuiSelect-icon {
  color: #fff;
}
#localToogle .MuiInput-underline:before {
  border-bottom: 1px solid #fff;
}

//Dropzone
.dropzoneImage {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 8px;
}
.dropzoneImage .dropable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  margin-top: 0;
  border: 3px dotted #3f51b5;
  outline: none;
}
.dropzoneImage .dropable.active {
  border: 3px dotted #00bcd4;
}
.dropzoneImage .coverMess {
  text-align: center;
}
.dropzoneImage .note {
  margin-top: 10px;
}

.thumbImage {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100%;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.43);
}

.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  width: 250px;
  position: relative;
  max-height: 250px;
}
.imgPreview {
  display: block;
  width: 100%;
  height: auto;
}
.removePreview {
  display: flex;
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.43);
  justify-content: center;
  align-items: center;
}
.cover-select-async {
  margin-top: 16px;
  margin-bottom: 8px;
}

.footerCard {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
  padding: 20px;
  padding-bottom: 0;
}
